<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.BlogMapper">
    <insert id="addBlog" parameterType="blog">
        insert into mybatis.blog (id, title, author, create_time, views)
        value (#{id}, #{title}, #{author}, #{createTime}, #{views})
    </insert>

    <select id="queryBlogIF" parameterType="map" resultType="blog">
        <!-- 1=1是为了if都为false时，where不报语法错误 -->
        select * from mybatis.blog where 1=1
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
    </select>

    <select id="queryBlogChoose" parameterType="map" resultType="blog">
        select * from mybatis.blog
        <!-- where标签代替where 1=1,它可以根据test的成立与否智能的添加/去除and -->
        <where>
            <choose>
                <when test="title != null">
                    title = #{title}
                </when>
                <when test="author != null">
                    and author = #{author}
                </when>
                <otherwise>
                    and views = #{views} 
                </otherwise>
            </choose>
        </where>
    </select>

    <sql id="if-title-author">
        <if test="title != null">
            title = #{title},
        </if>
        <if test="author != null">
            author = #{author},
        </if>
    </sql>

    <update id="updateBlog" parameterType="map">
        update mybatis.blog
        <!-- set会智能的去掉逗号和添加/去除sql语句的set关键字 -->
        <set>
            <include refid="if-title-author"></include>
        </set>
        <!-- 注意：where放在set外面set才会智能的去除逗号 -->
        where id = #{id}
    </update>

    <!-- select * from mybatis.blog where 1=1 and (id=1 or id=2 id=3) -->
    <select id="queryBlogForeach" parameterType="map" resultType="blog">
        select * from mybatis.blog
        <where>
            <!-- foreach 遍历并且拼接(id=1 or id=2 or id=3) -->
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>

</mapper>
