<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- namespace与dao层接口名一致 -->
<mapper namespace="com.kuang.dao.UserMapper">
        <!-- id与dao层接口的相应方法名一致 resultType与id所对应的方法的返回值类型一致 -->
    <select id="getUserList" resultType="com.kuang.pojo.User">
        select * from mybatis.user
    </select>
    
    <select id="getUserById" resultType="com.kuang.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>
</mapper>
